body{
	margin: 0;
	padding: 0;
	font-family: 'BenchNine', sans-serif;
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}
h1, h2{
	text-transform: uppercase;
	font-weight: bold;
}

/*header area*/
.top-header{
	background: #fff !important;
	position: fixed;
	width: 100%;
	z-index: 99999;
}
.header-backup{
	width: 20px;
	height: 119px;
	background: transparent;
	margin:auto;
}
.top-header img.logo{
	margin-bottom: 15px;
	margin-top: 0;
}
.header-logo img{
	margin:20px 0px 0px 0px;
  }
.header-logo{
	z-index:99999;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  margin-top: 8px;
  transition:all .5s ease 0s;
  -webkit-transition:all .5s ease 0s;
  -moz-transition:all .5s ease 0s;
  -o-transition:all .5s ease 0s;
  -ms-transition:all .5s ease 0s;
}
.nav-bar{
	margin-top: 20px;
}
.navbar-toggle span{
	color: #fff;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
 	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	padding: 13px 14px;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #4772B2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
li a.active{
	color: #4772B2 !important;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 4px;
}

/*slider area*/
.slider-row{
	margin: 0;
	padding: 0;
}
.slider-wrapper{
	margin: 0;
	padding: 0 !important;
	background: #000 !important;
}
.carousel-caption h1{
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
}
.carousel-caption p{
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
}
.carousel-caption button{
	width: 250px;
	height: 40px;
	background: #5AA29C;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.carousel-caption button:hover{
	background: #58DB93;
}
.carousel-control{
	width: 5%;
}
.carousel-inner{
	background: -webkit-linear-gradient(left, #000 , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #000, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #000, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #000 , blue); /* Standard syntax */
}
.item_header{
	position: relative;
}
.carousel-caption {
	position: absolute;
	text-align: left;
	left: 12%;
    line-height: 1;
    top: 50%;
    margin-top: -100px;
}

/*Jamie picture*/

.image-profile{
	width:100%;
	margin:40px 10px 0px 0px;
}
.image-cropper {
    width: 145px;
    height: 145px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border:2px solid #6a90c4;
	float:right;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -10%; 
  width: auto;
}

/*about section homepgae*/
.about h2{
	font-size: 90px;
	color: #4772B2;
	margin-top: 45px;
	padding-left:30px;
}
.about h4{
	font-size: 24px;
	color: #737373;
	margin-bottom: 45px;
}
#about p{
	font-family: 'Helvetica', sans-serif;
	font-size:12px;
	padding:0px 30px 0px 30px;
	width:520px;
	text-align:justify;
}
.about-img img{
	width: 100%;
	height: 170px;
}
#about {
	margin-top: 30px;
	background-color: #ebebeb;
	padding:20px 0px 50px 0px;
}
#about button{
	margin:10px 0px 0px 30px;
	width: 120px;
	height: 30px;
	background: #4DA374;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
#about button:hover{
	background: #58DB93;
}

/*twitter timeline embed*/
#twitter{
	margin:20px 0px 20px 0px;
}

/*YouTube video homepagee*/
#static_video{
	margin:0px 0px 0px 30px;
	width: 95%;
	height:relative;
}

/*latest news homepg*/

#news h2{
	color: #4772B2;
	margin:60px 0px 30px -10px;
	padding:0px;
}
#news h4{
	font-size: 24px;
	color: #737373;
	margin-bottom: 45px;
}
#news p{
	font-family: 'Helvetica', sans-serif;
	font-size:12px;
}
#news-img img{
	width: 100%;
}
.readmore-btn{
	width: 150px;
	height: 30px;
	padding:3px 5px 3px 5px;
	background: #4DA374;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	border:0;
	display: inline-block;
	text-align: center;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.readmore-btn:hover{
	background: #58DB93;
	color:#fff;
}
.datepublished{
	width: 130px;
	height: 30px;
	padding:4px 0px 0px 6px;
	margin:0px 50px 0px 0px;
	float: left;
	background: #71A8EA;
	color: #fff;
	font-size: 18px;
}
.latest-articles{
	margin-left:30px;
	height: relative;
}
.homearticle{
	margin:0px 10px 15px -10px;
}
.hometwitter{
	margin:0px;
}
.item{
	background: #3F3F3F;
	border-top: 2px solid #fff;
	padding:15px;
	display:block;
	height:relative;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.item h3{
	font-size: 28px;
	color: #fff;
	margin-top: 0;
}
.item p{
	font-size: 12px;
	color: #fff;
	font-family: 'Helvetica', sans-serif;
	padding: 0px;
	padding-bottom: 10px;
	margin-bottom:20px;
}
#viewallarticles{
	width:160px;
	height: 30px;
	float:right;
	margin:-50px 0px 0px 0px;
}
#viewallarticles a{
	color: #fff;
	background: #37588C;
	font-size: 20px;
	padding:5px 25px 5px 25px;
	text-transform: uppercase;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
#viewallarticles a:hover{
	background: #5488DB;
}

/*Compare Prices Calc Page*/
#form{
	padding:0px 0px 0px 0px;
}
#form h2{
	font-size: 36px;
	color: #5084C3;
	margin-left:30px;
	margin-top:30px;
}
#form h3{
	font-size: 28px;
	color: rgb(209, 81, 81);
	margin-left:30px;
}
#form p{
	font-size: 14px;
	color: #000000;
	font-family: 'Helvetica', sans-serif;
	padding: 0px;
	margin-left:30px;
}
#form label, #form input{
	font-size: 14px;
	margin-left:30px;
	font-family: 'Helvetica', sans-serif;
}
.comparecalc{
	width:80%;
	margin: 0 auto;
	background-color:#fff;
	border:1px solid #ebebeb;
	padding:15px 15px 50px 15px;
	margin-top:30px;
	margin-bottom:30px;
}
#form input[type="submit"]{
	width: 60px;
	height: 30px;
	float: left;
	font-size: 18px;
	color: #fff;
	background-color: #6DBF93;
	padding: 0;
	border:none;
	font-family: 'BenchNine', sans-serif;
	font-weight: bold;
}
#form input[type="submit"]:hover{
	background-color: #7CDCA8;
}

/*key information section homepage*/
.keyinfo{
	background: #3F3F3F;
	position: relative;
	border-top: 3px solid #fff;
	padding-top:25px;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.keyinfo h3{
	font-size: 36px;
	color: #fff;
	margin-top: 0;
}
.keyinfo p{
	font-size: 13px;
	color: #fff;
	font-family: 'Helvetica', sans-serif;
	padding: 0 25px;
	padding-bottom: 30px;
	margin-bottom:50px;
}
.keyinfo h3 a{
	color:#fff;
}
.key-information-snippet:hover .keyinfo{
	background: #5AA29C;
}
.key-information-snippet:hover {
	color: #5AA29C;
}
#info {
	margin-top:0px;
}

/*space for ads homepage*/
#ads {
	margin:-10px 40px 30px 40px;
	border:1px solid #000;
}

/*contact section homepage*/

.contact-caption{
	background: #4772B2;
}
.contact-heading h2{
	color: #fff;
	font-size: 48px;
}
.contact-info{
	padding-left: 20px;
}
.contact-info h3{
	padding-left: 0;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 0;
}
.contact-info ul{
	margin: 0;
	padding: 0;
}
.contact-info ul li{
	font-size: 13px;
	color: #fff;
	font-family: 'Helvetica', sans-serif;
}
.contact-info i.fa{
	font-size: 16px;
  	padding-right: 12px;
  	width: 25px;
  	height: 38px;
}
.contact-info ul li span{
	font-weight: bold;
}
.contact-form h3{
	padding-left: 0;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 0;
}
.contact-form input{
	width: 100%;
	height: 30px;
	background: #fff;
	font-size: 13px;
	color: #084a5c;
	font-family: 'Helvetica', sans-serif;
	padding: 12px;
	border:0;
	margin-bottom: 12px;
}
.contact-form textarea{
	font-family: 'Helvetica', sans-serif;
	padding:10px;
	font-size:13px;
	width: 100%;
	height: 70px;
	border:0;
	margin-bottom: 12px;
}
.info-detail{
	padding-top: 15px;
}
.form{
	padding-top: 15px;
	text-align: right;
}
.contact-form input.submit-btn{
	width: 110px;
	height: 30px;
	float: right;
	font-size: 18px;
	color: #fff;
	background-color: #6DBF93;
	padding: 0;
	font-family: 'BenchNine', sans-serif;
	font-weight: bold;
}
.contact-form input.submit-btn:hover{
	background-color: #7CDCA8;
}
.contact-form{
	padding-right: 50px;
}

/*Contact Form BG*/
#contactbg{
	height: 360px;
	width:100%;
	}

.contactbg{
	position: relative;
	overflow: hidden;
}
.contact{
	position: absolute;
	width: 100%;
	height: 360px;
	left: 0;
	margin-top: -360px;
	background-color: #4772B2;
}
.contact-caption{
	margin-top: 40px;
	width:100%;
}

/*renewables page section*/

#renewables{
	background: #fff;
	position: relative;
	border-bottom: 5px solid #ebebeb;
	padding:0px 0px 50px 50px;
	background-color: #fff;
}
#renewables h2{
	font-size: 34px;
	color: #5084C3;
	margin-left:-25px;
}
#renewables p{
	font-size: 13px;
	color: #000000;
	font-family: 'Helvetica', sans-serif;
	padding: 5px;
}
.renewables-sidebar{
	margin:50px 30px 0px 0px;
	width:80%;
}
.renewables-sidebar h3{
	font-size: 34px;
	color: #5084C3;
	padding-left:2px;
}
/*fuel prices page section*/

#fuelprices{
	background: #fff;
	position: relative;
	border-bottom: 5px solid #ebebeb;
	background-color: #fff;
	padding:0px 0px 50px 50px;
}
#fuelprices h2{
	font-size: 34px;
	color: #5084C3;
	margin-left:-25px;
}
#fuelprices p{
	font-size: 13px;
	color: #000000;
	font-family: 'Helvetica', sans-serif;
	padding: 5px;
}
.fuelprices-sidebar{
	margin:50px 30px 0px 0px;
	width:80%;
}

.fuelprices-sidebar h3{
	font-size: 34px;
	color: #5084C3;
	padding-left:2px;
}
/*all news articles page */

#allnewsarticles{
	background: #fff;
	position: relative;
	border-bottom: 5px solid #ebebeb;
	padding:0px 20px 50px 20px;
	background-color: #fff;
}

#allnewsarticles h2{
	font-size: 34px;
	color: #5084C3;
	margin-left:-30px;
}

#allnewsarticles p{
	font-size: 14px;
	color: #000000;
	font-family: 'Helvetica', sans-serif;
	padding: 5px 5px 5px 0px;
}

.allnewsarticles-sidebar{
	margin:60px 20px 0px 90px;
	width:80%;
}

.allnewsarticles-sidebar h3{
	font-size: 34px;
	color: #5084C3;
	padding-left:2px;
}

.displayall{
	width:90%;
}

.newsarticle{
	background: #fff;
	margin-top:25px;
	border: 1px solid #6a90c4;
	border-top:7px solid #6a90c4;
	padding:20px 20px 20px 20px;
	display: inline-block;
	height: auto;
}
.newsarticle h3{
	font-size: 30px;
	color: #fff;
	margin-top: 0;
	color:#000;
}
.newsarticle p{
	font-size: 12px;
	color: #363636;
	font-family: 'Helvetica', sans-serif;
	padding: 0px;
}
.newsarticle a{
	float:right;
	width: 135px;
	height: 35px;
	background: #37588C;
	color: #fff;
	font-size: 20px;
	padding:4px 0px 5px 10px;
	text-transform: uppercase;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}

.newsarticle a:hover{
	background: #5488DB;
}

.allnewsdatepublished{
	width: 140px;
	height: 30px;
	padding:4px 0px 0px 6px;
	margin:0px 50px 10px 0px;
	float: left;
	background: #6aa387;
	color: #fff;
	font-size: 18px;
	border:0;
}

/*search news*/
.search {
  width: 80%;
  position: relative;
  display: flex;
  font-size:20px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #6aa387;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #6aa387;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #6aa387;
  background: #6aa387;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*article detail page*/

.article-sidebar{
	margin:40px 30px 0px 80px;
	width:80%;
}
.article-sidebar h2{
	font-size: 30px;
	color: #5084C3;
}
#article-full{
	position: relative;
	padding:20px 20px 70px 0px;
	background-color: #fff;
}
#article-full h2{
	font-size: 20px;
	color: #5084C3;
	margin-left:-30px;
}
#article-full h3{
	font-size: 24px;
	color: #6aa387;
}
#article-full h4{
	font-size: 16px;
	margin-top:30px;
	padding:0px;
	color: #737775;
}

#article-full p{
	font-size: 13px;
	color: #000000;
	font-family: 'Helvetica', sans-serif;
	padding: 5px 5px 0px 0px;
	width:82%;
	text-align: justify;
}
#article-full a{
	color:#5084C3;
	font-size:24px;
	text-decoration: none;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
#article-full img{
	padding:20px 0px 20px 0px;
}
#article-full a:hover{
	color:#61a2f2;
}
#viewall_articledetail{
	width:150px;
	height: 20px;
	float:right;
	margin:0px 110px 0px 0px;
}
#viewall_articledetail a{
	color: #fff;
	background: #37588C;
	font-size: 20px;
	padding:5px 10px 5px 15px;
	text-transform: uppercase;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
#viewall_articledetail a:hover{
	background: #5488DB;
	color: #fff;
}

/*terms and conditions page section*/
#termsconditions{
	background: #fff;
	position: relative;
	border-bottom: 5px solid #ebebeb;
	padding:0px 20px 0px 100px;
	background-color: #fff;
}

#termsconditions h3{
	font-size: 28px;
	color: rgb(209, 81, 81);
}

#termsconditions h2{
	font-size: 36px;
	color: #5084C3;
	margin-left:-30px;
}

#termsconditions p{
	font-size: 13px;
	color: #000000;
	font-family: 'Helvetica', sans-serif;
	padding-bottom:10px;
}

li.terms{
	font-family: 'Helvetica', sans-serif;
	list-style: disc;
}

/*privacy policy page*/

#privacypolicy{
	position: relative;
	border-bottom: 5px solid #ebebeb;
	padding:0px 20px 0px 100px;
	background-color: #fff;
}

#privacypolicy h2{
	font-size: 36px;
	color: #5084C3;
	margin-left:-30px;
}

#privacypolicy h3{
	font-size: 28px;
	color: rgb(209, 81, 81);
}
#privacypolicy p{
	font-size: 13px;
	color: #000000;
	font-family: 'Helvetica', sans-serif;
}

/*footer*/
.footer{
	background-color: #424341;
	border-top:8px solid #ffffff;
	height: 95px;
}
.footer-para{
	margin: 0;
	padding: 0;
}
.footer p{
	font-size: 13px;
	font-family: 'Helvetica', sans-serif;
	color: #fff;
	padding:20px 10px 15px 0px;
}
.footer a{
	color:#fff;
	text-decoration: underline;
}
.footer a:hover{
	color:#6DBF93;
}
.footer a i.fa{
	font-size: 24px;
	color: #fff;
	padding: 22px 10px;
}
.footer a i.fa:hover{
	color: #42b3e5;
}
.carousel-inner{
	position: relative;
}
.carousel-inner > .item_header > img, .carousel-inner > .item_header > a > img {
    width: 100%;
    height:330px;
}

/******************************
responsive area
********************************/

/* md */
@media (min-width: 992px) and (max-width: 1499px) {
	.navbar-default .navbar-nav>li>a {
	  font-size: 18px;
	  padding: 10px 8px;
	}
	.header-logo img{
		margin:0px 0px 0px 0px;
	  }
	.carousel-caption h1 {
  		font-size: 50px;
  	}
  	.carousel-caption p {
  		font-size: 25px;
  	}
  	.carousel-caption button {
	  width: 250px;
	  height: 50px;
	  font-size: 24px;
	}
	
	h2 {
  		font-size: 35px !important;
  	}
  	h4 {
  		font-size: 22px !important;
  	}
  	p{
  		font-size:18px;
	  }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-default .navbar-nav>li>a {
	   font-size: 16px;
	   padding: 8px 6px;
   }
	.carousel-caption h1 {
  		font-size: 40px;
  	}
  	.carousel-caption p {
  		font-size: 20px;
  	}
  	.carousel-caption button {
		 width: 180px;
		 height: 50px;
		 background: #3a9ecb;
		 color: #fff;
		 font-size: 22px;
	}
	h2 {
  		font-size: 34px !important;
  	}
  	h4 {
  		font-size: 22px !important;
	  }
	#about {
		margin-top: 0px;
		padding:0px 0px 50px 0px;
		background: #ffffff;
	}
	.about h2{
		font-size: 24px;
		margin-top: 40px;
		padding-left:0px;
	}
	#about p{
		padding:0px;
		width:100%;
		text-align:left;
	}
	#about button{
		margin:10px 0px 0px 0px;
		width: 100%;
		font-size: 20px;
	}
	.readmore-btn{
		font-size: 20px;
		width:100%;
	}
	#static_video{
		width:90%;
		height:relative;
		margin:0px 0px 0px 0px;
	}
	#info {
		margin-top:-40px;
	}
	#info h2{
		float:left;
		padding:0px 0px 0px 20px;
	}
	#info h4{
		float:left;
		text-align: left;
		padding-left:20px;
		margin-bottom:20px;
	}
	.keyinfo{
		padding-top:15px;
	}
	.keyinfo h3{
		font-size: 30px;
	}
	.keyinfo p{
		font-size: 12px;
		padding: 0 25px;
		padding-bottom: 20px;
		margin-bottom:20px;
	}
	.contact-form{
		margin-left:0px;
	}
	#contactbg{
		height: 450px;
		width:100%;
	}
	.contact{
		height: 450px;
		left: 0;
		margin-top: -450px;
	}
	.contact-caption{
		margin-top: 0px;
		width:100%;
	}
	.contact-heading h2 {
	  font-size: 36px;
	  margin-left: 15px;
	}
	.contact-info h3 {
		margin:0px 0px 0px 5px;
		font-size: 24px;
		padding-bottom: 8px;
	}
	.contact-form h3 {
		font-size: 24px;
		padding-bottom: 8px;
		margin:0px 0px 0px 5px;
	  }
	.info-detail {
		margin-left: 5px;
	}
	.contact-info ul li {
		font-size: 13px;
	}
	.contact-info, .contact-form{
		padding: 10px;
	}
	.latest-articles{
		margin-left:0px;
	}
	.item h3{
		font-size: 22px;
		color: #fff;
		margin-top: 0;
	}
	.item p{
		padding-bottom: 0px;
	}
	.datepublished{
		width: 100%;
		margin:0px 0px 10px 0px;
		font-size: 18px;
		text-align: center;
	}
	#news button{
		font-size: 20px;
		width:100%;
	}
	#renewables{
		padding:0px 0px 50px 0px;
	}
	#renewables h2{
		margin-left:0px;
	}
	#fuelprices{
		padding:0px 0px 50px 0px;
	}
	#fuelprices h2{
		margin-left:0px;
	}
	#termsconditions{
	padding-left: 50px;
}
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	.navbar-default .navbar-nav>li>a {
		font-size: 14px;
		padding: 10px 8px;
	  }
	.header-logo img{
	  margin:20px 0px 0px 25px;
	}
	.navbar-default .navbar-nav>li>a {
	  font-size: 18px;
	}
	.homearticle{
		margin:30px 0px 15px 0px;
	}
	.carousel-caption button {
		width: 180px;
		height: 40px;
		background: #3a9ecb;
		color: #fff;
		font-size: 18px;
   }
	.datepublished{
		width: 100%;
		text-align: center;
		margin-bottom:10px;
	}
	#contactbg{
		height: 470px;
		width:100%;
		background-color: #fff;
		}

	.contactbg{
		position: relative;
		overflow: hidden;
	}
	.contact{
		position: absolute;
		width: 100%;
		height: 470px;
		left: 0;
		margin-top: -470px;
	}
	.contact-caption{
		margin-top: 0px;
		width:100%;
	}
	.contact-info{
		padding:0px 30px 0px 20px;
	}
	.contact-form{
		padding:10px 30px 20px 20px;
	}
	h2 {
	  font-size: 30px !important;
	}
	h3 {
		font-size: 24px !important;
	  }
	h4{
  		font-size: 18px !important;
	  }
	.readmore-btn{
		font-size: 20px;
		width:100%;
	}
	.contact-info ul {
	  margin-left: 4px;
	}
	.contact-info i.fa {
	  width: 25px;
	}
	#termsconditions{
	padding-left: 40px;
	}
	.footer{
		height: 100px;
	}
	.footer p{
		font-size: 11px;
		padding:20px 0px 15px 20px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.top-header img.logo {
	  margin: 10px 0px 10px 0px;
	}
	.header-logo img{
		margin:20px 0px 0px 25px;
	  }
	.top-header{
		background: #fff; !important;
		border-bottom:2px solid #ebebeb;
	}
	#home{
		display: none;
	}
	.navbar-default .navbar-toggle {
		 border-color: #fff;
		 margin:0px -10px 0px 0px; 
	}
	.navbar-default .navbar-nav>li>a {
	  font-size: 18px;
	  text-align: left;
	}
	h4 {
	  font-size: 12px !important;
	}
	.contact-caption{
		margin-top: 38%;
	}
	#news h2{
		font-size:24px;
		margin-top: 70px;
		margin-left:0px;
	}
	#viewallarticles{
		width:40%;
		height: 30px;
		text-align: center;
		float:right;
		margin:-50px 0px 0px 210px;
	}
	#viewallarticles a{
		color: #fff;
		display: block;
		background: #37588C;
		font-size: 16px;
		padding:5px 10px 5px 15px;
	}
	.latest-articles{
		margin-left:0px;
		margin-top:120px;
	}
	.homearticle{
		margin:30px 0px 15px 0px;
	}
	.item h3{
		font-size: 22px;
		color: #fff;
		margin-top: 0;
	}
	.item p{
		padding-bottom: 0px;
	}
	.datepublished{
		width: 100%;
		margin:0px 0px 10px 0px;
		font-size: 18px;
		text-align: center;
	}
	.readmore-btn{
		font-size: 20px;
		width:100%;
	}
	.about h2{
		font-size: 24px;
		margin-top: 40px;
		padding-left:0px;
	}
	#about p{
		padding:0px;
		width:100%;
		text-align:left;
	}
	#about {
		margin-top: 0px;
		padding:0px 0px 50px 0px;
		background: #ffffff;
	}
	#about button{
		margin:10px 0px 0px 0px;
		width: 100%;
		font-size: 20px;
	}
	#info {
		margin-top:-40px;
	}
	#info h2{
		float:left;
		padding:0px 0px 0px 20px;
	}
	#info h4{
		float:left;
		text-align: left;
		padding-left:20px;
		margin-bottom:20px;
	}
	.keyinfo{
		padding-top:15px;
	}
	.keyinfo h3{
		font-size: 26px;
	}
	.keyinfo p{
		font-size: 12px;
		padding: 0 25px;
		padding-bottom: 20px;
		margin-bottom:20px;
	}
	#allnewsarticles{
		background: #fff;
		position: relative;
		border-bottom: 5px solid #ebebeb;
		padding:0px 20px 50px 20px;
	}
	#allnewsarticles h2{
		font-size: 30px;
		margin-left:0px;
		margin-bottom:-10px;
	}
	.allnewsarticles-sidebar{
		margin:130px 20px 0px 0px;
		width:100%;
	}
	.allnewsarticles-sidebar h3{
		font-size: 30px;
		color: #6aa387;
		padding-left:0px;
	}
	.displayall{
		width:100%;
	}
	.newsarticle{
		display: inline-block;
		width:100%;
		height: auto;
	}
	.newsarticle h3{
		font-size: 30px;
	}
	.newsarticle a{
		text-align: center;
		width: 100%;
	}
	.allnewsdatepublished{
		width: 100%;
		text-align: center;
	}
	.search {
	  width: 100%;
	}
	.article-sidebar{
		margin:100px 20px 0px 0px;
		width:100%;
	}
	.article-sidebar h2{
		font-size: 30px;
	}
	#article-full{
		padding:20px 20px 0px 0px;
		width:100%;
		position: relative;
	}
	#article-full h2{
		font-size: 28px;
		margin-left:0px;
	}
	#article-full img{
		width:100%;
		height:auto;
		padding:10px 0px 10px 0px;
	}
	#article-full p{
		width:100%;
		text-align: left;
	}
	#viewall_articledetail{
		width:100%;
		text-align: center;
		margin:0px 0px 40px 0px;
		font-size: 20px;
		padding:5px 0px 5px 0px;
	}
	#viewall_articledetail a{
		color: #fff;
		display: block;
	}
	#renewables{
		padding:0px 0px 50px 0px;
	}
	#renewables h2{
		font-size: 30px;
		margin-top:100px;
	}
	#renewables p{
		font-size: 13px;
		padding: 0px;
	}
	.renewables-sidebar{
		margin:30px 30px 0px 0px;
		width:100%;
	}
	.renewables-sidebar h3{
		font-size: 30px;
	}
	#fuelprices{
		padding:0px 0px 50px 0px;
	}
	#fuelprices h2{
		font-size: 30px;
		margin-top:130px;
		margin-left:0px;
	}
	#fuelprices p{
		font-size: 13px;
		padding: 0px;
	}
	.fuelprices-sidebar{
		margin:30px 30px 0px 0px;
		width:100%;
	}
	.fuelprices-sidebar h3{
		font-size: 30px;
	}
	#form h2{
		font-size: 24px;
		margin-left:0px;
		margin-top:100px;
	}
	#form h3{
		font-size: 20px;
		color: rgb(209, 81, 81);
		margin-left:0px;
	}
	#form p{
		font-size: 12px;
		margin-left:0px;
	}
	#form label, #form input{
		font-size: 12px;
		margin-left:0px;
		font-family: 'Helvetica', sans-serif;
	}
	.comparecalc{
		width:100%;
		margin: 0 auto;
		border:none;
		padding:10px 10px 50px 10px;
	}	
	#renewables{
		padding:25px 0px 30px 0px;
	}
	#renewables h2{
		margin-left:0px;
	}
	#termsconditions{
		padding:0px 0px 0px 0px;
	}
	#termsconditions h3{
		font-size: 24px;
	}
	#termsconditions h2{
		font-size: 28px;
		margin-left:0px;
		margin-top:120px;
	}
	#termsconditions p{
		font-size: 12px;
	}
	li.terms{
		font-size:12px;
		color:#000000;
	}
	#privacypolicy{
		padding:0px 0px 0px 0px;
	}
	#privacypolicy h2{
		font-size: 28px;
		margin-left:0px;
		margin-top:120px;
	}
	#privacypolicy h3{
		font-size: 24px;
	}
	#privacypolicy p{
		font-size: 12px;
	}
	#contactbg{
		height: 450px;
		width:100%;
	}
	.contact{
		height: 450px;
		left: 0;
		margin-top: -450px;
	}
	.contact-caption{
		margin-top: 0px;
		width:100%;
	}
	.contact-heading h2 {
	  font-size: 30px;
	  text-align: left;
	  margin-left: 15px;
	}
	.contact-info h3 {
	  margin:0px 0px 0px 5px;
	  font-size: 18px;
	  padding-bottom: 8px;
	}
	.info-detail {
	  margin-left: 5px;
	}
	.contact-info ul li {
	  font-size: 11px;
	}
	.contact-info, .contact-form{
		padding: 10px;
	}
	.contact-form h3 {
	  font-size: 18px;
	  padding-bottom: 8px;
	  margin:0px 0px 0px 5px;
	}
	.contact-form input.submit-btn{
		width: 290px;
	}
	.footer{
		height: 125px;
	}
	.footer p{
		font-size: 12px;
		font-family: 'Helvetica', sans-serif;
		color: #fff;
		padding:20px 10px 10px 10px;
	}
	.footer p {
  		font-size: 11px;
  	}
}
}